{% extends 'APP_Settings/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static  'APP_Settings/css/base.css' %}">
    <link rel="stylesheet" href="{% static  'APP_Settings/css/shopping-cart-page.css' %}">
{% endblock %}

{% block content %}
    <div class="open_page">
        <p>Сторінка корзини</p>
    </div>

    <div class="basket">
        <div class="check-mark-cont">
            <img class="check-mark-img" 
                    src="{% static  'APP_Settings/img/check_mark.png' %}" 
                    alt="check_mark">
            <h1>Galaxy A24 6/128GB Red</h1>

            <br><img class="check-mark-img" 
                    src="{% static  'APP_Settings/img/check_mark.png' %}" 
                    alt="check_mark">
            <h1>iPhone 15 128GB Black</h1>

            <br><img class="check-mark-img" 
                    src="{% static  'APP_Settings/img/check_mark.png' %}" 
                    alt="check_mark">
            <h1>Galaxy M34 8/128GB Blue</h1>

            <br><img class="check-mark-img" 
                    src="{% static  'APP_Settings/img/check_mark.png' %}" 
                    alt="check_mark">
            <h1>G54 Power 12/256GB Blue</h1>
        </div>

        <div class="products">
            <img class="products-img" src="{% static  'APP_Settings/img/product1.png' %}" alt="product1">
            <h1 class="product_text">Мобільний телефон Samsung</h1>
            <p class="product_text">* Galaxy A24 6/128GB Dark Red</p>
            <a class="added_product" href="#">Додано</a>
        </div>

        <div class="products">
            <img class="products-img" src="{% static  'APP_Settings/img/product2.png' %}" alt="product2">
            <h1 class="product_text">Мобільний телефон Apple</h1>
            <p class="product_text">* iPhone 15 128GB Black</p>
            <a class="added_product" href="#">Додано</a>
        </div>

        <div class="products">
            <img class="products-img" src="{% static  'APP_Settings/img/product3.png' %}" alt="product3">
            <h1 class="product_text">Мобільний телефон Samsung</h1>
            <p class="product_text">* Galaxy M34 5G 8/128GB Dark Blue</p>
            <a class="added_product" href="#">Додано</a>
        </div>

        <div class="products">
            <img class="products-img" src="{% static  'APP_Settings/img/product4.png' %}" alt="product4">
            <h1 class="product_text">Мобільний телефон Motorola</h1>
            <p class="product_text">* G54 Power 12/256GB eSim Pearl Blue</p>
            <a class="added_product" href="#">Додано</a>
        </div>
    </div>
{% endblock %}